<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1/postgres</property>
    <!-- Definimos propiedades de Hibernate para SQL -->
    <property name="show_sql">false</property>
    <property name="format_sql">true</property>
    <!-- Definimos que Hibernate cree las tablas none : no actualiza, update : act las dif, create :> machaca todo en la bd-->
    <!-- none, update, create -->
    <property name="hibernate.hbm2ddl.auto">update</property>
    
    <!-- En un moment, em donava problemes amb la generacio de claus primaries, fer una prova amb el modo create o create drop
        i despres seguir nomes amb el mode update
    -->
    <!--  <property name="hibernate.hbm2ddl.auto">create-drop</property>-->
    <!-- Declaramos los archivos de mapping-->
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">db1</property>
    <mapping package="practica1_bda"/>
    <mapping class="practica1_bda.Aeroport"/>
    <mapping class="practica1_bda.Avio"/>
    <mapping class="practica1_bda.ModelAvio"/>
    <mapping class="practica1_bda.Pilot"/>
    <mapping class="practica1_bda.Ruta"/>
  </session-factory>
</hibernate-configuration>
